# Core Framework
streamlit

# LangChain & LangGraph Ecosystem
langchain
langgraph
langchain-google-genai==0.1.5
langchain-community

# API Clients & Utilities
google-generativeai
exa_py
pypdf
pillow
chromadb

# Data Handling (jika diperlukan, biasanya sudah terinstal sebagai dependensi)
# pandas
# numpy