#Core Framework

streamlit

#LangChain & LangGraph Ecosystem

langchain
langgraph
langchain-google-genai==1.0.1
langchain-community

#API Clients & Utilities

exa_py
pypdf
pillow
chromadb

#Data Handling (jika diperlukan, biasanya sudah terinstal sebagai dependensi)

#pandas

#numpy